/* CARDS */
.cards-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-flex {
  margin: 1rem !important;
}

/* SEARCHBAR */
.searchbar {
  margin-bottom: 2rem;
}

.search-input {
  width: 40rem;
}

.no-results {
  margin-bottom: 3rem;
}

/* MAIN */
.Main {
  text-align: center;
}
