/* CARDS */
.cards-flex {
  display: flex;
  flex-wrap: wrap;
}

.card-flex {
  margin: 1rem !important;
}

/* DETAIL */
.h1-detail-hero {
  margin-top: 3rem;
}

/* SEARCHBAR */
.searchbar {
  margin-bottom: 2rem;
}

.search-input {
  width: 40rem;
}

.no-results {
  margin-bottom: 3rem;
}

/* MAIN */
.Main {
  text-align: center;
}
