/* DETAIL */
.h1-detail-hero {
  margin-top: 3rem !important;
}

.character-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* SEARCHBAR */
.searchbar {
  margin-bottom: 2rem;
}

.search-input {
  width: 40rem;
}

.no-results {
  margin-bottom: 3rem;
}

/* MAIN */
.Main {
  text-align: center;
}

div#root {
  margin-left: 1rem;
  margin-top: 1rem;
}

/* CARDS */
.cards-flex {
  display: flex;
  flex-wrap: wrap;
}

.card-flex {
  margin: 1rem !important;
}



